*.vo
*.glob
*.v.d
*~
.*.aux
*#*#
.#*
/slow_fiat_examples/_CoqProject
/slow_fiat_examples/Makefile
/slow_fiat_simpl_example/_CoqProject
/slow_fiat_simpl_example/Makefile
/slow_fiat_eapply_example/_CoqProject
/slow_fiat_eapply_example/Makefile
/slow_fiat_crypto_vm_compute/Makefile.coq
/slow_fiat_crypto_reify/Makefile.coq
.lia.cache
.nia.cache
.nlia.cache
lia.cache
nia.cache
nlia.cache
