[submodule "evar-normalization-slowness/e494d8f9fcf8c4239815bdcfa7e22fc8"]
	path = evar-normalization-slowness/exercise-tactics
	url = https://gist.github.com/e494d8f9fcf8c4239815bdcfa7e22fc8.git
[submodule "unminimized/slow-example-001-eauto-fiat"]
	path = unminimized/slow-example-001-eauto-fiat
	url = https://github.com/JasonGross/fiat.git
